<div id="left-side" class="matting">
    <h3>People</h3>
    <ul>
  
	<% for person in @people %> 
	<li class="person_tile"> 
      <h4><%= person.first_name %> <%= person.last_name %></h4>
      <%= person.department.name%><br/>
      <%= person.email_address %></br/>
      <%= person.role.name %></br/>
 
	    <small class='edit'>
		    <%= link_to "Edit",edit_person_url(person), :class => "red" %>
            <%=link_to image_tag('trash.gif',:class => 'trash'), person_path(person), :confirm => 'Are you sure you want to delete this user?', :method => :delete %>
 		</small>
      
	<% end %>
	</ul>
</div>	
<div id="right-side" class="add-person">
  <%= button_to 'Add New User',new_person_path, :method => :get %>
 </div>