<script>
  $(document).ready(function() {
	
    $('#kairos_end_switch').sliderSwitch(1,
      function() {
        $('#end_shift').val(1);
      },
      function() {
        $('#end_shift').val(0);
      });

	$(document).ready(function() {
	//    jQuery('#regform_district_id').html("<option value=''>Select District</option>");
	  jQuery('#person_time_activity_id').change(function() {
        var data=$('#person_time_activity_id').val();
    
	    $.ajax({
	      type: "POST",
	      url: "http://"+location.host+"/dynamic_specific_tasks/"+data,
	      data: data,
	      beforeSend: function()
	      {
	
	       },
	       success: function(response)
	       {
	       }
	       });
	    });
	});
  });
</script>
<div id="right-side" class="details">	
  <% if @activities.count != 0 && @unfinished_activity.nil? %>
	<div id='contacts'> 
	<div id="progress">
	    <%= render :partial => 'progress_bar', :locals => { :rate => @rate } %>
	 </div>
	<div id="current_contact">
    <h2><%= "Submit Tasks" %></h2>
	<p><%= "this will submit and notify people"  %></p>	
	 <div class='widget' style="padding:10px">	
	 select people who will receive notification

	    <%= form_tag submit_activities_person_times_url,:method => :put do %>
	      <% check_box_tag("master",1,false,{ :id => "select_all", :onclick => "toggleItems(this,'people')" }) %>
			<% for person in @persons_can_approved %>

		<%= check_box_tag("people[]",person.id,false,{ :class => "people", :onclick => "toggleMaster(this,'select_all')" }) %>&nbsp;<span><%= person.name %></span></br>
			<% end %><br/>
   		    <% for activity in @activities %>
		      <%= hidden_field_tag("activities[]",activity.id) %>
		    <% end %>

		  <%= submit_tag "Submit Activities Today" ,:class => 'btn' %>&nbsp;&nbsp;&nbsp; 
			<% if !activity.is_submitted? && !activity.is_approved? %>
		        <span class="label label-warning">Not Submitted</span>
		      <% elsif activity.is_submitted? && activity.is_approved == nil %>
		        <span class="label label-success">Submitted</span>
		      <% elsif activity.is_approved? %>
		        <span class="label label-info">Approved</span>
		    <% end %>		
	
	    <% end %>	
	</div> 	
		<%= render :partial => "time_summaries"%>
	</div>
	</div>

  <% elsif @activities.count != 0 && !@unfinished_activity.nil? %>  	
    <div id='contacts'>
	  <div id="progress">
	    <%= render :partial => 'progress_bar', :locals => { :rate => @rate } %>
	  </div> 
	 <div id="current_contact">
	   <h2><%= "End Current Task" %></h2>
       <p><%= "this will end and create new blank task"  %></p>
     	
	   <div class='widget'>	
	     <%= form_for(@activities.first,:remote => true ) do |f| %>     
          	 <ul>	
             <%= label_tag :Continue,"End Shift" %>  
             <%= kairos_end_switch %>
		 	 </ul>
			 <ul>	
      		  <%= hidden_field_tag(:from,'not from edit')%>
 			 </ul>	
	         <ul>
	         <%= f.label :start_time, "Starting Time" %>
	         <div style='margin-left:5px'><%= f.label :start_time, @unfinished_activity.start_time.strftime('%l:%M:%S %p') %></div>
	         </ul>
			 <ul>
	         <div style='margin-left: -9px'><%= f.label :activity_id, "Task" %></div> 
             <div style='margin-top:-27px;margin-left:83px'><%= f.select('activity_id', options_for_select(["Select Activity"]) +	options_from_collection_for_select(options_for_activity(current_user.department_id), :id, :name), :id => "act_id") %></div>
			</ul>
			<ul>
            <%= f.label :specific_activity_id, "Specific Task" %>
	        <div style='margin-top:10px;margin-left:83px'><%= f.select("specific_activity_id","", :include_blank => true) %></div>
			</ul>
			<ul>
		      <div style='margin-bottom:5px;margin-left:-10px'><%= f.submit :end, :value => "End Task →" %> </div>
			</ul>
	   <% end %>	
	   </div>	
	   <%= render :partial => "time_summaries" %>
	 </div>
    </div>	 
	<% else %>
      <%= label :message, "No Results found" %>
	<% end %>		
</div>