
	<div id="waves" class="widget">
	<ul>
      <b><%= label :total, "Total:"%></b>
        <label><%= PersonTime.calculate_total_hours(@activities.map {|a| a.id},"hours") %> hours :
        <%= PersonTime.calculate_total_hours(@activities.map {|a| a.id},"minutes") %> min :
        <%= PersonTime.calculate_total_hours(@activities.map {|a| a.id},"seconds") %> sec</label>
	  </ul>	
	</div>
	<div id="waves" class="widget">
	 <ul>  
	 <b><%= label :break, "Break:"%></b>
        <label><%= PersonTime.calculate_total_hours(@breaks.map {|a| a.id},"hours") %> hours :
        <%= PersonTime.calculate_total_hours(@breaks.map {|a| a.id},"minutes") %> min :
        <%= PersonTime.calculate_total_hours(@breaks.map {|a| a.id},"seconds") %> sec</label>
	 </ul>	
	</div>
	<div id="waves" class="widget">
	<ul>
	<b><%= label :productive, "Productive:"%></b>
        <label><%= PersonTime.calculate_total_hours(@productive_hours.map {|a| a.id},"hours") %> hours :
        <%= PersonTime.calculate_total_hours(@productive_hours.map {|a| a.id},"minutes") %> min :
        <%= PersonTime.calculate_total_hours(@productive_hours.map {|a| a.id},"seconds") %> sec</label>
	</ul> 	
	</div>
