<script>
  $(document).ready(function() {
    $('#search_date').datepicker({
	  showOn: "both", 
	  buttonImage: "<%= asset_path('calendar.gif') %>", 
	  buttonImageOnly: true,
	  changeMonth: true,
	  changeYear: true,
	  hideIfNoPrevNext: true,
	  currentText: 'today',
	  dateFormat: 'yy-mm-dd',
	  onSelect: function(dateText, inst) {
        $('#search_activities_form').submit();						
      }
	});	
});
</script>
		
   <div id="left-side" class="matting">
    <div class="h3">
        <h3>Todays Tasks</h3>
	    <%= form_tag(person_times_url ,:id => 'search_activities_form',:method => 'get') do %>
	      <div class="field">
	        <%= search_field_tag(:date, params[:date],:placeholder => "search date", :id => "search_date") %>
	      </div>
	    <% end %>    
	</div> 
	<div id="contacts">
		<%= render :partial => 'activities', :locals => { :activities => @activities } %>
	</div>
   </div>
<%= render :partial => 'activity_info' %>
