<script>
  $(document).ready(function() {
    $('#date_field_1,#date_field_2').datepicker({
	  showOn: "both", 
	  buttonImage: "<%= asset_path('calendar.gif') %>", 
	  buttonImageOnly: true,
	  changeMonth: true,
	  changeYear: true,
	  hideIfNoPrevNext: true,
	  currentText: 'today',
	  dateFormat: 'yy-mm-dd',
	  onSelect: function(dateText, inst) {
        $('#search_activities_form').submit();						
      }
	});
	
    $('#show_form_button').click(function(){
	  $('.leave_form').slideToggle();
    });
	
  });
</script>
<div class='container'>    
  <div class='row'>
	  <div class='span13'>
  <h4>NCMM Leaves and Activities Calendar </h4>
<div id="calendar">
  <div style="float:left;margin-top:20px">
    <div style="background-color:#0000FF;width:15px;height:15px"></div> 
       <div style="float:left;margin-left:20px;margin-top:-15px">- Activities in this color is active</div>
	<div style="background-color:#FF0000;width:15px;height:15px;margin-top:5px"></div> 
       <div style="float:left;margin-left:20px;margin-top:-15px">- Activities in this color is in-active</div>

  </div>
  
  <h2 id="month">
	
	 <%= link_to "<", :date => (@date - 1.month) %>
	    <%=h @date.strftime("%B %Y") %> 
	    <%= link_to ">", :date => (@date + 1.month) %><br/></br>
  </h2>	
  
  <div id="show_form">
    <div id="show_form_button">	
    	show form
    </div>
</div>	  

<%= form_tag create_leave_user_livs_url, :method => :post do %>
   <div class ="leave_form"> 	
     <div class='containers'>
       <label style="font-weight:bold">Fill out form to create activity</label>
	 </div>  
 
     <div class= "containers">
	   <div class ="label_div">
	     <label>from Date</label>
	   </div>
	   <div class = "field_div">
	     <%= text_field_tag :from_date, "", :id => "date_field_1" %>
	     <%= hidden_field_tag :name, "leave" %>
	     
	   </div>
	  
	   <div class ="space">
		 &nbsp;&nbsp;
	   </div>	
	
	   <div class ="label_div">
	     <label>to Date</label>
	   </div>
	   <div class = "field_div">
	     <%= text_field_tag :to_date, "", :id => "date_field_2" %>
	   </div>
	   
	   <div class ="label_div">
	     <label>Charge to</label>
	   </div>
	   <div class = "field_div">
<%= select_tag('leave_type_id',options_from_collection_for_select(Person.all.collect, :id, :name, params[:leave_type_id]),:include_blank => true, :class => 'small_select') %>
	   </div>
	 </div>
	 <div class= "containers">
	   <div class ="label_div">
	     <label>Activity Type</label>
	   </div>
	   <div class = "field_div">
		 <%= select_tag('leave_type_id',options_for_select(["Team Bonding"]),:include_blank => true, :class => 'small_select') %>
	   </div>
		
	   <div class ="space">
	     &nbsp;&nbsp;
	   </div>
		
	   <div class ="label_div">
	     <label>Description</label>
	   </div>
	   <div class = "field_div">
	     <%= text_area_tag :reason,"",:class => "field_div_2" %>
	   </div>
	  </div>
	
		<div style="float: left;margin-left:-560px;margin-top:10px">
		  <%= submit_tag "Save Leave", :class => 'btn' %>
		</div>	
	</div>		
	<% end %>


<% @items = @leaves %>
<%= calendar_for(@items,:year => @date.year, :month => @date.month) do |t| %>
  <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>

  <%= t.day(:day_method => :date) do |day,items| %>
    <%= day.day %>
    <% items.each do |leave| %>
      <label id="blue"> <%= "(" + leave.leave_type.name+ ")"  %>&nbsp;<%=  leave.person.name %>  </label>
    <% end %>
  <% end %>


<% end %>

</div>
</div>
</div>
</div>