<div id='login-wrap'>
	 	<div class='log_in_image'>
		  <%= image_tag('ncm-logo.png', :size => "130x140") %>  	
		</div>
<div id = "login">
<div class='log_in_header'>
  Sign in to<br/>
  <font style='font-weight:bold'>KAIROS</font>	
</div>	<br/>
<%= form_tag :action => :login do %>

        <%= text_field_tag :username,nil,:size => 15, :placeholder => "username", :class=> "input" %>
  
        <%= password_field_tag :password,nil,:size => 15, :class => "input", :placeholder => "password" %>
    <div style="margin-left:15px;text-align:center;">
        <%= submit_tag "SIGN IN", :class => "btn btn-primary" %>
    </div>
<% end %>
</div>
</div>