<script>
  $(document).ready(function() {
    $('#search_date').datepicker({
	  showOn: "both", 
	  buttonImage: "<%= asset_path('calendar.gif') %>", 
	  buttonImageOnly: true,
	  changeMonth: true,
	  changeYear: true,
	  hideIfNoPrevNext: true,
	  currentText: 'today',
	  dateFormat: 'yy-mm-dd'
	});	
   	$(document).ready(function() {
	//    jQuery('#regform_district_id').html("<option value=''>Select District</option>");
	  jQuery('#act_id').change(function() {
        var data=$('#act_id').val();
	    $.ajax({
	      type: "POST",
	      url: "http://"+location.host+"/dynamic_specific_tasks/"+data,
	      data: data,
	      beforeSend: function()
	      {
		  //alert('hi');
	      //$('#status').html('<img src="loading.gif">');
	       },
	       success: function(response)
	       {
	       //alert(response);
	       //$('#regform_district_id').html(html);    //dynamic_districts.js.erb
	       //$('#status').html(html);
	       }
	       });
	    });
	});
});
</script>
<div class='container'>    
  <div class='row'>
	  <div class='span13'>			
    <h3><%= @person.first_name %> <%= @person.last_name %>
	   <div style='float:right;margin-top:0px:margin-right:40px'> 
	    <%= form_tag :url => time_url , :method => 'get' do %>
	         <div style='margin-top:-4px'>

	         <%= text_field_tag(:date, params[:date],:placeholder => "search date", :id => "search_date", :class => 'txt') %>

	          </div>
	    <% end %>
	   </div>
	</h3>
    <%= render :partial => 'activity_info' %>
		</div>  
	</div>
</div>
