<script>
  $(document).ready(function() {
   $('#from_date').datepicker({
	     showOn: "both", 
	      buttonImage: "<%= asset_path('calendar.gif') %>", 
	      buttonImageOnly: true,
		  		changeMonth: true,
				changeYear: true,
				hideIfNoPrevNext: true,
				currentText: 'today',
				dateFormat: 'yy-mm-dd'
	    });
	   $('#to_date').datepicker({
		     showOn: "both", 
		      buttonImage: "<%= asset_path('calendar.gif') %>", 
		      buttonImageOnly: true,
			  		changeMonth: true,
					changeYear: true,
					hideIfNoPrevNext: true,
					currentText: 'today',
					dateFormat: 'yy-mm-dd'
		    });		
});
</script>
<div id="left-side" class="matting">
    <div class="h3">
        <h3><%= "Tasks Report" %></h3>
	</div>
	<div id="contacts">
		<table cellspacing="0">
		    <thead>
			  <tr>
		            <td>Date</td>
					<td>Person</td>
		            <td>Activity</td>
					<td>Specific Activity</td>
					<td>Start Time</td>
					<td>End Time</td>
		            <td>Total Time</td>
		            <td></td>
			
		      </tr>
		     </thead>
			  <tbody>
		<% if !@tasks.nil? %>
		<% if @tasks.count != 0 %>
	    
				<% for task in @tasks %>
				  <tr class="<%= cycle('odd','even') %>">
				  	<td>
					 		  <div class="handle">
								 <%=link_to image_tag('trash.gif',:class => 'trash'), person_time_path(task), :confirm => 'Are you sure you want to delete this task?', :method => :delete %>
							     <%= link_to "edit", edit_person_time_url(task) %>
							  </div>
					 <%= task.created_at.strftime("%B %d, %Y") %>
					</td>
					<td><%= task.person.first_name + " " + task.person.last_name%></td>
					<td><%= task.activity.name if !task.activity.nil? %></td>
					<td><%= task.specific_activity.name if !task.specific_activity.nil? %></td>
					<td><%= task.start_time.strftime('%l:%M:%S %p').downcase if !task.start_time.nil? %></td>
					<td><%= task.end_time.strftime('%l:%M:%S %p').downcase if !task.end_time.nil? %></td>
					<td><%= task.total_time.strftime('%H:%M:%S') if !task.total_time.nil? %></td>					
				  </tr>	
				<% end %>
			  </tbody>				
				
		<% end %>	
		<% end %>
		</table>
</div>	
</div>
<div id="right-side" class="details">	
	<div id='contacts'> 
	  	<div id="current_contact">
	      <h2><%= "Search Options" %></h2>
		  <p><%= "fill out desired fields to search tasks"  %></p>
		     <div class='widget'>	
			    <%= form_tag :url => tasks_report_url do  %>
			      <ul>
				    <%= label :from, "Start Date" %>&nbsp;
					<%= text_field_tag(:from_date, params[:from_date],:class => 'between_dates', :id => "from_date") %>
				  </ul>
				  <ul>
				    <div style='margin-left:-8px'><%= label :to, "End Date" %>&nbsp;&nbsp;
					<%= text_field_tag(:to_date, params[:to_date],:class => 'between_dates', :id => "to_date") %></div>
				  </ul>	
				  <ul>
					<%= label :team, "Team" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <%= select_tag('department_id',	options_from_collection_for_select(options_for_team, :id, :name, params[:department_id]),:include_blank => true) %>
				  </ul>	
				  <ul>
					<div style='margin-left:-8px'><%= label :person, "Person" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  	<%= select_tag("person_id", option_groups_from_collection_for_select(options_for_team,:people,:name, :id, :first_name, params[:person_id]),:include_blank => true) %></div>
				  </ul>
				  <ul>
					<%= label :activity_id, "Task" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%= select_tag('activity_id',	options_from_collection_for_select(options_for_report_activity, :id, :name,params[:activity_id]),:include_blank => true) %><%= hidden_field_tag :what_report, "tasks" %>
				  </ul>	
				  <ul><br/>
					<div style='margin-bottom:5px;margin-left:-10px'>
					  <%= submit_tag "Search Tasks" %>
					</div>
				  <% end %>	
					<div style='margin-bottom:5px;margin-left:70px;margin-top: -27px'>
					  <%= button_to 'Generate Spreadsheet', generate_spreadsheets_url %>
					</div>
				  </ul>	
			    
		  	 </div> 	
		</div>
	</div>	
</div>	