 <h1><%= current_user.department.name %></h1>
 <div id="tabs">
  
  <% if session[:time] == 'active' %>
    <div class="active_link left" style="margin-left:2px">	
	    <%= link_to "Manage Tasks", person_times_url %>
	  </div>	
  <% else %>	
  <div class="tabnav left" style="margin-left:2px">	
    <%= link_to "Manage Tasks", person_times_url %>
  </div>
  <% end %>


  <% if session[:leaves] == 'active' %>
  <div class="active_link left" style="margin-left:2px">	
    <%= link_to "leaves", user_livs_url %>
  </div> 
  <% else %>
    <div class="tabnav left" style="margin-left:2px">	
	   <%= link_to "leaves", user_livs_url %>
	</div>
  <% end %> 
  <div class="tabnav left" style="margin-left:2px">	
    <% link_to "Calendar", calendars_url %>
  </div>

<% if current_user.is_admin? %>	
 <div class="tabnav right" style="margin-left:2px">	
   <%= link_to "Leaves Approval", leaves_approval_url %>
 </div>
 <div class="tabnav right" style="margin-left:2px">	
   <%= link_to "Activities", activities_url %>
</div>
<div class="tabnav right" style="margin-left:2px">	 
   <%= link_to "Specific Activites", specific_activities_url %>	
</div>
<div class="tabnav right" style="margin-left:2px">	
   <%= link_to "People", people_url %>
</div>
<% end %>

 </div>
</div>