<nav>
   
   	<div class="menu">
		<ul>
		  <li><!-- Do not add any class for links with dropdown -->
			
		
	        
	         <!-- Drop Down menu Items -->
	 <div class='active'>
       <% if notifications.count == 0 %>
       <div class="notifications">
	     <div class='lbl'>Notifications</div>
	   </div>
	   	<div class='ezra'>
	        <div class='not_bold'>none available</div>
	       </div>
	   <% else %>
	   <div class="notifications">
	     <div class='lbl'>Notifications</div>
	   </div>
       <% notifications.each do |notification| %>
         <% notification.notification_log_type.tap do |noti|%>
           <div class='ezra'>
	        <div class='not_bold'>scheduled on <font style ="font-weight:bold"><%= noti.date.strftime('%y-%m-%d') %></font><div class='content'> <font style ="font-weight:bold">person in charge:</font> <%= noti.person.name %><br/> <% if notification.notification_log_type_type == "NcmmActivity" %><%= noti.description %><% else %><%= noti.reason %><% end %></div></div>
	          <div class='clear_noti'><%= link_to "CLEAR","#"  %></div>
	       </div> 
	     <% end %>
	   <% end %>
	   <% end %>
	 </div>	
	</div>
    <%= current_user.email_address %> 
    <%= raw(" | " + link_to('My Profile',edit_person_url(current_user))) %>
    <%= raw(" | " + link_to('Sign out', logout_url,{ :confirm => "Are you sure you want to sign out?"})) %>
</nav>