<!DOCTYPE html>
<html>
<head>
  <title>Kairos</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag  "application" %>
   <%= javascript_include_tag "application",'jquery-1.4.2.min',"highcharts",'approvals','jquery','jquery-ui','jquery_ujs','flash_message_notice','flash_message_warning','bootstrap','bootstrap.min.js','bootstrap-drowpdown' %>
   
   <%= csrf_meta_tags %>
   <%= yield(:head) %>

   <script>
     $(document).ready(function() {
	   $('#noti_Container').click(function(){
		 alert('ezra');
	  });
	 });    
 
     !function( $ ){

	  "use strict"

	 /* DROPDOWN CLASS DEFINITION
	  * ========================= */

	  var toggle = '[data-toggle="dropdown"]'
	    , Dropdown = function ( element ) {
	        var $el = $(element).on('click.dropdown.data-api', this.toggle)
	        $('html').on('click.dropdown.data-api', function () {
	          $el.parent().removeClass('open')
	        })
	      }

	  Dropdown.prototype = {

	    constructor: Dropdown

	  , toggle: function ( e ) {
	      var $this = $(this)
	        , selector = $this.attr('data-target')
	        , $parent
	        , isActive

	      if (!selector) {
	        selector = $this.attr('href')
	        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
	      }

	      $parent = $(selector)
	      $parent.length || ($parent = $this.parent())

	      isActive = $parent.hasClass('open')

	      clearMenus()
	      !isActive && $parent.toggleClass('open')

	      return false
	    }

	  }

	  function clearMenus() {
	    $(toggle).parent().removeClass('open')
	  }


	  /* DROPDOWN PLUGIN DEFINITION
	   * ========================== */

	  $.fn.dropdown = function ( option ) {
	    return this.each(function () {
	      var $this = $(this)
	        , data = $this.data('dropdown')
	      if (!data) $this.data('dropdown', (data = new Dropdown(this)))
	      if (typeof option == 'string') data[option].call($this)
	    })
	  }

	  $.fn.dropdown.Constructor = Dropdown


	  /* APPLY TO STANDARD DROPDOWN ELEMENTS
	   * =================================== */

	  $(function () {
	    $('html').on('click.dropdown.data-api', clearMenus)
	    $('body').on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
	  })

	}( window.jQuery );
	 
	(function ($) {
	  $.fn.fixedMenu = function () {
	    return this.each(function () {
	      var menu = $(this);
	      var ctr = 0;
	      menu.find('ul li > label').bind('click', function () {
	        //check whether the particular link has a dropdown
	      if(ctr == 0){
	            //displaying the drop down menu
	            $('.active').show();
	            ctr = 1;
	      }   
	      else{
		     $('.active').hide();
		     ctr = 0;
	      }
	    
	      });
	    });
	  }
	})(jQuery);
	   $('document').ready(function(){
            $('.menu').fixedMenu();
       });
   </script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	<%= render :partial => 'layouts/flash_message' %>	
	<header>
	  	<div style="float:left;margin-left: 10px;margin-bottom: 15px">
		  <%= image_tag('nazcompassion_logo.gif', :size => "80x90") %>  	
		</div>
	   
	  <%= render :partial => 'layouts/nav' if current_user %>

	</header>	
    <%= render :partial => 'layouts/links'%>
   </div>
	
   <br/>
	<%= yield %>
	</div>

</body>
</html>
